.Rproj.user
*.Rproj
.Rhistory
.RData
.Ruserdata
.Rproj
data/espnPlayerInfo.csv
data/overallArmAngles.csv
data/pitchArmAngles.csv
data/playerInfo.csv
data/teams.csv
arm_angle.ipynb
plot*.R
player_img/
python_to_r.R
frontier league arm angle.R
example_plots/*.png
data for plots.R
*.html